body {
    background-image: url(../img/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
    position: fixed;
}

body form {
    background: rgb(228, 219, 100);
    width: 250%;
    height: 10cm;
    max-width: 400px;
    position: absolute;
    margin-right: 15cm;
    margin-left: 12cm;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 4.5mm;
}

body h1 {
    color: rgb(255, 255, 255);
    margin-left: 14.5cm;
    margin-right: 10cm;
}
