<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Us Your Feedback</title>
    <link rel="stylesheet" href="../static/css/halamanSaya.css">
</head>
<body>
    <div class="cek"></div>
    <main class="main">
        <header><img src="../static/img/LogoAlgosBiasa.png" width="25%" alt="logo"></header>
        <section>
            <form action="/result" method="POST" name="feedbackForm" class="feedbackSection">
                <p>Semangat Farhan !!!</p>
                <br><br><br>
                <button type="submit" id="submitFeedback">Submit</button>
            </form>
        </section>
    </main>
</body>
</html>