<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1">
        <title>Kelompok 3</title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>

    <body>
         <img src="../static/img/Logo-UNDIP.png" id="undip">
         <img src="../static/img/Logo ose.png" id="ose">
         <img src="../static/img/LogoAlgomarine.png" id="algo">
         <div class="haha"><br><br>
            <div class="txt1">
                <p>Diagram T-S</p>
                <label>Masukkan data excel. Contoh formatnya dapat diunduh <a href="https://drive.google.com/drive/folders/13Y4CC6sulhjEkXLUGKJxLIyGHsCy2eZx?usp=sharing">disini</a></label><br>
                <br>
                <input type="file" id="diagram"><br>
            </div>
            <div class="txt2">
                <p>SST Timeseries</p>
                <label>Masukkan data excel. Contoh formatnya dapat diunduh <a href="https://drive.google.com/drive/folders/1PD_XLjXw-SFwx3-4AjyCvqN7fn_4RLFl?usp=sharing">disini</a></label><br>
                <br>
                <input type="file" id="sst1">
                <input type="file" id="sst2">
            </div>
            <div class="txt3">
                <p>Grafik Pasut</p>
                <label>Masukkan data excel. Contoh formatnya dapat diunduh <a href="https://drive.google.com/drive/folders/1qXdaH0OtOMXkSO82TCdk-wOFg39JpUoK?usp=sharing">disini</a></label><br>
                <br>
                <input type="file" id="pasut"><br>
            </div>
            <button class="button"><a href="halaman2.html">Hasil</a></button><br>
            <br><p>Oleh:</p>
            <p>Kelompok 3</p>
         </div>
    </body>
</html>